/* head section */

.header{
    max-width: 1020px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 150px 160px 90px ;
    gap: 100px;
}
.header-bar{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.phone{
    margin-top:12px;
    font-size: 1.2rem;

}
.phone a{
    text-decoration: none;
}
.email{
    margin-top:12px;
    font-size: 1.2rem;
    text-decoration: none;
}
.email a{
    text-decoration: none;
    color: green;
}
.logo{
    display: flex;
    width: 20px;
    
}
.logo p{
    font-family: 'Barlow', sans-serif;
}
/*nav bar*/
.navbar{
    background-color: #047aed;
    align-items: center;
    animation: slideInFromRight 1s ease-in;
    z-index: 100;
}
.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover {
    border-bottom: 2px #fff solid;
  }
  
  .navbar .flex {
    justify-content: space-between;
  }

  .box{
      width: 130%;
  }

  /*slide show*/
.slideshow{
    
}

.carousel{
    z-index: 0;
}
/*universal */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    display: grid;
}

.sticky {
    position: fixed;
    left: 200px;
    top: 0;

    width: 100%;
  }
  
  .sticky {
    padding-top: inherit;
  }
/*messages*/
.message img{
    border-radius: 50%;
}
.message-image{
    position: relative;
    float:left;

}
  /*foooter*/
  .footer{
      overflow-x: hidden;
      width: 100%;
      background-color: black;
      color: white;
  }
  .footer-logo{
     position: relative;
     float: left;
  }